body {
  padding: 10px 20px;
  background: grey;
}

h1 {
  color: #ffffff;
  background-color: #ffbd33;
  padding: 10px;
  border-radius: 0 20px;
}

input {
  margin: 10px;
  display: block;
}

#ingr {
  margin-top: 25px;
}
